<div>
    <div class="d-flex justify-content-between mb-2">
        <h2>Formas de pagamento</h2>
        <button class="btn btn-success" routerLink="../adicionar">Novo</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let formaPagamento of dados;">
                <th scope="row">{{formaPagamento.id}}</th>
                <td>{{formaPagamento.nome}}</td>
                <td><i class="bx bxs-pencil" title="Editar" (click)="editar(formaPagamento.indice)"></i></td>
                <td><i class="bx bxs-trash" title="Excluir" (click)="excluir(formaPagamento.indice, formaPagamento.nome)"></i></td>
            </tr>
        </tbody>
    </table>
</div>