<div>
    <div class="d-flex justify-content-between mb-2">
        <h2>Sub categorias</h2>
        <button class="btn btn-success" routerLink="../adicionar">Novo</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subCategoria of dados;">
                <th scope="row">{{subCategoria.id}}</th>
                <td>{{subCategoria.nome}}</td>
                <td>{{subCategoria.categoria}}</td>
                <td><i class="bx bxs-pencil" title="Editar" (click)="editar(subCategoria.indice)"></i></td>
                <td><i class="bx bxs-trash" title="Excluir" (click)="excluir(subCategoria.indice, subCategoria.nome)"></i></td>
            </tr>
        </tbody>
    </table>
</div>
