<div>
    <div class="row">
        <div class="col-3">
            <h2>Categorias</h2>
        </div>
        <div class="col-2 offset-7">
            <button class="btn btn-success" routerLink="../adicionar">Novo</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categoria of dados;">
                <th scope="row">{{categoria.id}}</th>
                <td>{{categoria.nome}}</td>
                <td><i class="bx bxs-pencil" title="Editar" (click)="editar(categoria.indice)"></i></td>
                <td><i class="bx bxs-trash" title="Excluir" (click)="excluir(categoria.indice)"></i></td>
            </tr>
        </tbody>
    </table>
</div>