<div class="d-flex justify-content-between">
    <h2>Forma de pagamento</h2>
    <button class="btn btn-primary" routerLink="/forma-pagamento">Listar</button>
</div>
<form class="row g-3">
    <div class="col-12">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" [(ngModel)] = "nome" name="nome">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success" (click)="salvar()">Salvar</button>
    </div>
</form>